.border-top-gold{
    border-top: 1px solid var(--color-gold);
}

.border-bottom-gold{
    border-bottom: 1px solid var(--color-gold);
}

.bg-gold {
  background-color: var(--color-gold) !important;
}

/* Couleur or */
.text-gold {
  color: var(--color-gold);
}

/* Glow or */
.text-glow-gold {
  display: inline-block;
  filter: drop-shadow(0 0 6px var(--color-gold-glow));
}

.card-bg-primary {
  background-color: var(--color-primary-80);
}

.card-bg-gold {
  background-color: var(--color-gold);
  color: black;
}

.card-border-gold {
  border: 1px solid var(--color-gold);
}

.card-border-light {
  border: 1px solid rgba(255,255,255,0.1);
}

.card-shadow-gold {
  box-shadow: 0 0 12px var(--color-gold-glow);
}

.card-base {
  @apply rounded-lg bg-(--color-primary)/40 border border-(--color-gold);
}

.navlink-base {
  position: relative;
}

.navlink-base .navlink-text {
  transition: all 0.2s ease;
  color: white;
}

.navlink-base .navlink-underline {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background-color: var(--color-gold);
  transition: width 0.3s ease;
}

/* Hover du texte */
.navlink-base:hover .navlink-text,
.navlink-group:hover .navlink-text {
  color: var(--color-gold);
  filter: drop-shadow(0 0 6px var(--color-gold-glow));
}

/* Hover de la barre */
.navlink-base:hover .navlink-underline,
.navlink-group:hover .navlink-underline {
  width: 100%;
}

.bg-rarity-1 { background-color: var(--rarity-1); }
.bg-rarity-2 { background-color: var(--rarity-2); }
.bg-rarity-3 { background-color: var(--rarity-3); }
.bg-rarity-4 { background-color: var(--rarity-4); }
.bg-rarity-5 { background-color: var(--rarity-5); }

.text-success{
    color: #05df72;
}

.text-info{
    color: #155dfc;
}

.text-danger{
    color: #fb2c36;
}