.border-top-gold{
    border-top: 1px solid var(--color-gold);
}

.border-bottom-gold{
    border-bottom: 1px solid var(--color-gold);
}

.bg-gold {
  background-color: var(--color-gold) !important;
}

/* Couleur or */
.text-gold {
  color: var(--color-gold);
}

/* Glow or */
.text-glow-gold {
  display: inline-block;
  filter: drop-shadow(0 0 6px var(--color-gold-glow));
}

/* Hover du texte */
.navlink-group:hover .navlink-text {
  color: var(--color-gold);
  filter: drop-shadow(0 0 6px var(--color-gold-glow));
}

/* Hover de la barre */
.navlink-group:hover .navlink-underline {
  width: 100%;
}

.card-bg-primary {
  background-color: var(--color-primary-80);
}

.card-bg-gold {
  background-color: var(--color-gold);
  color: black;
}

.card-border-gold {
  border: 1px solid var(--color-gold);
}

.card-border-light {
  border: 1px solid rgba(255,255,255,0.1);
}

.card-shadow-gold {
  box-shadow: 0 0 12px var(--color-gold-glow);
}

.card-base {
  @apply rounded-lg bg-(--color-primary)/40 border border-(--color-gold);
}
