:root {
  --background: #050814;          /* fond global très sombre / bleu nuit */
  --foreground: #ffffff;

  --color-primary: #1A2A4E;       /* bleu nuit pour les blocs */
  --color-primary-80: #15223E;

  --color-gold: #D4AF37;        /* doré */
  --color-gold-glow: rgba(212, 175, 55, 0.35);

  --color-text-muted: #9ca3af;

  --rarity-1: #9CA3AF;
  --rarity-2: #10B981;
  --rarity-3: #3B82F6;
  --rarity-4: #A855F7;
  --rarity-5: #D4AF37;


}